* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
.main-grid {
  display: grid;
  grid-template-columns: 20rem 30rem;
  margin-left: 10rem;
  margin-right: 10rem;
}
.image {
  border-radius: 5rem;
  height: 9%;
  margin-top: 70px;
  margin-left: 90px;
  width: 40%;
}
.col-1 {
  background-color: rgb(155, 216, 238);
  /* text-align: center; */
  padding-left: 30px;
}
.col-2 {
  background-color: rgb(234, 231, 228);
  padding-left: 30px;
}
.col-1head {
  background-color: silver;
  /* width: 10rem; */
  /* margin-left: 10px; */

  margin-right: 10px;
  border-radius: 15px;
  padding-left: 10px;
  margin: 10px;
  color: white;
  font-weight: bold;
  padding: 10px;
  margin-top: 10px;
}
ul {
  list-style: none;
  /* max-width: 150px; */
  padding-left: 15px;

  color: rgb(86, 81, 81);
}
li {
  padding-bottom: 20px;
  padding-top: 5px;
}
.col2ul {
  color: rgb(86, 81, 81);
  padding-bottom: 20px;
  padding-top: 5px;
}
.flex {
  display: flex;
  background-color: rgb(217, 207, 207);
  justify-content: space-between;
  margin-right: 10px;
}
.icon {
  height: 20px;
  width: 20px;
  stroke: rgb(54, 18, 18);
}
.list {
  /* max-width: 50%;
} */
}
.heading {
  margin-top: 50px;
  color: rgb(54, 19, 19);
}
.para1 {
}
.ex {
  padding-top: 40px;
  padding-bottom: 20px;
}
.bigicon {
  height: 25px;
  width: 25px;
}
.link {
  color: rgb(86, 81, 81);
  text-decoration: none;
}
a:hover {
  color: blue;
}
.col2head {
  background-color: rgb(217, 207, 207);
  margin-right: 10px;
  padding-left: 5px;
  height: 25px;
  font-weight: bold;
  color: rgb(105, 102, 102);
}
.col2para {
  padding-bottom: 50px;
  padding-top: 20px;
  color: rgb(99, 97, 97);
}
h5 {
  padding-top: 20px;
}
